@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  text-rendering: optimizeLegibility;

  font-synthesis: none;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #eee;
  border-radius: 6px;
  box-shadow:
    0 0 1px 1px #bbb,
    inset 0 0 3px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to left, #96a6bf, #63738c);
  border-radius: 6px;
  box-shadow: inset 0 0 1px 1px #5c6670;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to left, #8391a6, #536175);
}
